@use 'src/app/shared/styles/_form' as field;
@use 'src/app/shared/styles/_line' as line;
@use 'src/app/shared/styles/_button' as button;

:host {
    .login {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #285767;
        height: 100%;
    }

    .login-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        padding: 20px;
        margin: 5px;
        border-radius: 20px;
    }

    .login-box__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .login-box__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 5px;
    }

    .field {
        @include field.as-field;
    }

    .button {
        @include button.as-button;

        &__login {
            color: #ffffff;
            background-color: #1793be;
            min-width: 150px;
            height: 30px;
        }
    }

    .line {
        @include line.as-line;
    }
}
