<div class="login">
    <div class="login-box">
        <div class="login-box__content">
            <div class="field field--inline">
                <div class="field__label">User name</div>
                <input type="text" class="field__input" />
            </div>
            <div class="field field--inline">
                <div class="field__label">Password</div>
                <input type="password" class="field__input" />
            </div>
        </div>
        <div class="line line--horizontal"></div>
        <div class="login-box__actions">
            <div class="button button__login" (click)="onLogin()">login</div>
            <div *ngIf="false" class="button button__login button--disabled">login</div>
        </div>
    </div>
</div>