<div class="container">
    <div class="header">
        <div class="title">
            <h1> {{title}}</h1>
            <h5 *ngIf="authService.isLoggedIn">{{authService.currentUser.profile.companyName}}</h5>
        </div>
        <h3 class="menu">
            <ng-container *ngIf="authService.isLoggedIn">
                <div class="menu__item">{{authService.currentUser.profile.preferred_username}}</div>
                <div class="menu__item action" (click)="onLogout()">Logout</div> |
                <a class="menu__item" routerLink="/">Home</a> |
                <a class="menu__item" routerLink="/contacts">Contacts</a>
            </ng-container>
        </h3>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>